@mixin centralizar-itens {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content-footer {
   
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-footer {
        background-color: black;
        height: 10vh;
    }
    p {
        background-color: black;
        color: white;
        margin: 0;
        padding-top: 30px;
        font-size: 15px;
        
    
        

        @include centralizar-itens();
    }
}